/* Navbar container */
.navbar {
    position: fixed;
    width: 100%;
    background-color: #FF416C;
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .home-link {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 200px;
  }
  
  /* Navbar list */
  .nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    background-color: #fd88b1;
    color: #ffffff;
  }
  
  /* Hamburger menu */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;
  }
  
  .hamburger-bar {
    width: 100%;
    height: 4px;
    background-color: #cff4ff;
    transition: all 0.3s ease-in-out;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-list {
      position: absolute;
      top: 100%;
      right: 0;
      background: #FF416C;
      flex-direction: column;
      width: 200px;
      height: auto;
      padding: 20px;
      border-radius: 5px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .nav-list.open {
      transform: translateX(0);
    }
  
    .nav-item {
      margin-bottom: 15px;
    }
  }
  