@media (max-width: 768px) {
    .weekly-planner {
        padding: 10px;
    }

    .calendar-container {
        margin-bottom: 15px;
    }
}


.weekly-planner {
    display: flex;
    background-color:  #FF73A3;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; 
    padding: 20px;
}

.calendar-container {
    margin-bottom: 20px; 
    display: flex;
    justify-content: center; 
}
