


.weekly-planner {
    display: flex;
    background: linear-gradient(135deg, #fa5790 25%, #764ba2 120%);
    flex-direction: column; /* Arrange items vertically */
    align-items: center; 
    padding: 20px;

}

.calendar-container {
    margin-bottom: 20px; 
    display: flex;
    justify-content: center; 
    margin-top: 80px;
}

.user-director {
    text-decoration:wavy;
    text-decoration-line: overline underline;
    text-decoration-color: #f11260;
    text-underline-offset: 5px;
    /* text-overline-offset: 5px; */
    font-size: larger;
    font-weight: bold;
}


@media (max-width: 768px) {
    .weekly-planner {
        padding: 10px;
    }

    .calendar-container {
        margin-bottom: 15px;
    }
    .user-director {
        font-size: medium;
    }
}